<div class="hero-unit">
	<h1>Cursos em Sustentabilidade</h1>
	<p>Aqui você poderá ver nossos cursos
		<%= link_to "Cursos em Sustentabilidade", "http://sustentabilidadenaempresa.com.br/blog/cursos"%>	
	</p>
	
	<p>
		<%= link_to "Inscreva-se", "#", class: "btn btn-primary btn-large"%>
	</p>
</div>